@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:ital,wght@0,300;0,400;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:wght@300;400&family=Poppins:wght@300;400;600;800&display=swap");
h4, .presupuesto .presupuesto_sub ul, .presupuesto .presupuesto_sub .txt, .fondo__contacto #formulario fieldset .form_botones, .fondo__contacto #formulario fieldset .form_row {
  margin-top: 2vh;
  margin-bottom: 2vh; }

.encabezado_menu_botones, .cajita .cajita__titulo, .presupuesto .cajita__titulo, .fondo__contacto .cajita__titulo, .foto, #mainIndex #fotoprincipal, #mainIndex #fotoprincipal_mobile {
  background-color: #95959511;
  -webkit-box-shadow: 4px 3px 8px 1px #1616167f;
  box-shadow: 4px 3px 8px 1px #1616167f; }

.encabezado_menu_botones, footer .rrss .rrss1 .rrss2 {
  border: solid 1px;
  border-radius: 3%;
  margin: 1px;
  transition: all 0.3s;
  padding: 10px; }
  .encabezado_menu_botones:hover, footer .rrss .rrss1 .rrss2:hover {
    scale: 1.05; }
  .encabezado_menu_botones a, footer .rrss .rrss1 .rrss2 a {
    text-decoration: none;
    color: white;
    font-family: "Nunito";
    text-transform: uppercase;
    font-size: 1.3em;
    transition: all 1s; }

body {
  background-image: url(../../img/misc/textura1.jpg); }

.rrss1 {
  height: auto;
  width: 10vw;
  border: none; }

.rrss2 {
  height: auto;
  width: 10vw;
  border: none; }

@keyframes fadein {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::selection {
    background-color: #c98703;
    color: white; }

.encabezado {
  grid-area: encabezado;
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: transicionPaleta__principal; }

@keyframes transicionPaleta__principal {
  0% {
    background-color: #43652a; }
  30% {
    background-color: #671313; }
  60% {
    background-color: #462037; }
  90% {
    background-color: #c98703; }
  100% {
    background-color: #43652a; } }
  .encabezado .encabezado_index {
    width: 40vw;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    .encabezado .encabezado_index a {
      text-decoration: none;
      font-family: "Great Vibes";
      color: white;
      font-size: 1.3em;
      transition: all 0.5s;
      animation-duration: 40s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: transicionPaleta__secundaria; }

@keyframes transicionPaleta__secundaria {
  0% {
    color: #c98703; }
  30% {
    color: #eb951f; }
  60% {
    color: white; }
  80% {
    color: #671313; }
  100% {
    color: #c98703; } }
      .encabezado .encabezado_index a:hover {
        scale: 1.05; }
    .encabezado .encabezado_index .logo {
      height: auto;
      width: 7vw;
      padding: 3%;
      transition: all 0.5s; }

.encabezado_menu {
  width: 50%; }
  .encabezado_menu .menu {
    display: flex;
    justify-content: space-around; }
    .encabezado_menu .menu .encabezado_menu_botones a {
      animation-duration: 40s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: transicionPaleta__secundaria; }

@keyframes transicionPaleta__secundaria {
  0% {
    color: #c98703; }
  30% {
    color: #eb951f; }
  60% {
    color: white; }
  80% {
    color: #671313; }
  100% {
    color: #c98703; } }

label,
#check,
#indexMenu {
  display: none; }

body {
  overflow-x: hidden;
  width: 100vw;
  display: grid;
  grid-template-areas: "encabezado" "main" "footer" "autobombo";
  justify-content: center;
  align-items: center; }
  body .main__secciones {
    width: 100vw;
    overflow-x: hidden; }
  body main {
    grid-area: main; }

.encabezado_menu_botones {
  animation-name: transicionPaleta__secundaria__bordes;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes transicionPaleta__secundaria__bordes {
  0% {
    border-color: #c98703; }
  30% {
    border-color: #eb951f; }
  60% {
    border-color: white; }
  80% {
    border-color: #671313; }
  100% {
    border-color: #c98703; } }

h1 {
  font-size: 2.8em; }

h2 {
  text-align: center;
  font-family: "Great Vibes";
  font-weight: 100;
  font-size: 2.5em;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: transicionPaleta__secundaria; }

@keyframes transicionPaleta__secundaria {
  0% {
    color: #c98703; }
  30% {
    color: #eb951f; }
  60% {
    color: white; }
  80% {
    color: #671313; }
  100% {
    color: #c98703; } }

h3 {
  font-family: 'nunito';
  text-align: center;
  font-size: 1.3em;
  animation-name: fadein;
  animation-iteration-count: initial;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  transition: all; }

h4 {
  font-family: "Nunito";
  font-size: 1.2em; }

h6 {
  display: none;
  visibility: hidden; }

section {
  margin-top: 4vh; }

.cajita, .presupuesto, .fondo__contacto {
  background-color: rgba(179, 179, 179, 0.405);
  padding: 3%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em; }
  .cajita .cajita__titulo, .presupuesto .cajita__titulo, .fondo__contacto .cajita__titulo {
    font-family: "Nunito";
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
    border-radius: 5px;
    width: 30vw;
    padding: 5px;
    color: white;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: transicionPaleta__principal; }

@keyframes transicionPaleta__principal {
  0% {
    background-color: #43652a; }
  30% {
    background-color: #671313; }
  60% {
    background-color: #462037; }
  90% {
    background-color: #c98703; }
  100% {
    background-color: #43652a; } }
  .cajita .cajita__contenido, .presupuesto .cajita__contenido, .fondo__contacto .cajita__contenido, .cajita p, .presupuesto p, .fondo__contacto p {
    font-family: "Nunito";
    font-weight: 400;
    text-align: justify;
    padding: 5%;
    animation-name: fadein;
    animation-iteration-count: initial;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    transition: all;
    animation-timing-function: linear; }

.foto, #mainIndex #fotoprincipal, #mainIndex #fotoprincipal_mobile {
  background-color: rgba(248, 219, 248, 0.708);
  justify-content: center;
  height: auto;
  padding: 2%;
  border-radius: 2%; }

.photoGallery {
  display: grid;
  width: 100%;
  margin-top: 4vh;
  margin-bottom: 4vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2%;
  align-items: stretch;
  padding: 1%; }

.fotoGaleria {
  width: 100%;
  height: 100%; }

.margen {
  height: 5vh; }

.presupuesto {
  text-align: center; }
  .presupuesto .presupuesto_sub {
    padding: 1%;
    font-family: "Nunito";
    text-align: center;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .presupuesto .presupuesto_sub ul {
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .presupuesto .presupuesto_sub ul li {
        text-align: center; }
    .presupuesto .presupuesto_sub .txt {
      font-family: "Nunito"; }

.separador {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  margin: 2vh;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: transicionPaleta__principal; }

@keyframes transicionPaleta__principal {
  0% {
    background-color: #43652a; }
  30% {
    background-color: #671313; }
  60% {
    background-color: #462037; }
  90% {
    background-color: #c98703; }
  100% {
    background-color: #43652a; } }

.autobombo {
  height: auto;
  width: 100vw;
  padding: 0.5em;
  text-align: center;
  font-family: "Nunito";
  color: white;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: transicionPaleta__principal;
  font-size: 1em;
  display: inline-flex;
  justify-content: center;
  grid-area: autobombo; }

@keyframes transicionPaleta__principal {
  0% {
    background-color: #43652a; }
  30% {
    background-color: #671313; }
  60% {
    background-color: #462037; }
  90% {
    background-color: #c98703; }
  100% {
    background-color: #43652a; } }

#mainIndex {
  display: flex;
  flex-direction: column; }
  #mainIndex #fotoprincipal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  #mainIndex #fotoprincipal_mobile {
    display: none; }
  #mainIndex .subtitulo {
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: transicionPaleta__principal;
    padding: 1%;
    margin-top: 2vh; }

@keyframes transicionPaleta__principal {
  0% {
    background-color: #43652a; }
  30% {
    background-color: #671313; }
  60% {
    background-color: #462037; }
  90% {
    background-color: #c98703; }
  100% {
    background-color: #43652a; } }

footer {
  grid-area: footer;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  padding: 5%;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: transicionPaleta__principal; }

@keyframes transicionPaleta__principal {
  0% {
    background-color: #43652a; }
  30% {
    background-color: #671313; }
  60% {
    background-color: #462037; }
  90% {
    background-color: #c98703; }
  100% {
    background-color: #43652a; } }
  footer .firma {
    height: auto;
    width: 40%; }
  footer .rrss {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    transition: all 1s; }

.fondo__contacto #formulario {
  width: 100%; }
  .fondo__contacto #formulario fieldset {
    border: none;
    padding: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Nunito"; }
    .fondo__contacto #formulario fieldset .form_botones {
      display: flex;
      width: 40%;
      justify-content: space-around; }
    .fondo__contacto #formulario fieldset .form_row {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      width: 90%; }
      .fondo__contacto #formulario fieldset .form_row .form_txt {
        padding: 1%;
        font-size: 1.5em; }
      .fondo__contacto #formulario fieldset .form_row .form_input {
        padding: 1%;
        transform: scale(1.5); }
    .fondo__contacto #formulario fieldset .formulario_div {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      width: 40vw;
      padding: 3%;
      margin: 1%; }
      .fondo__contacto #formulario fieldset .formulario_div .formulario_subdiv {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 20vw;
        padding: 2%; }
      .fondo__contacto #formulario fieldset .formulario_div input {
        font-family: 'nunito';
        transition: all 1s; }
        .fondo__contacto #formulario fieldset .formulario_div input:focus {
          transform: scale(1.2); }

@media screen and (max-width: 1024px) {
  .encabezado_menu .menu .encabezado_menu_botones {
    padding: 5px; }
    .encabezado_menu .menu .encabezado_menu_botones a {
      font-size: 90%; }
  .encabezado_index a h1 {
    font-size: 2em; } }

@media screen and (max-width: 768px) {
  .encabezado .encabezado_index {
    display: none; }
  .encabezado header {
    display: none; }
    .encabezado header a {
      display: none; }
  .encabezado .encabezado_menu {
    width: 100vw;
    display: grid;
    grid-template-areas: "col1  col2" "row2 row2 ";
    grid-template-columns: 1fr 9fr;
    align-items: center; }
    .encabezado .encabezado_menu .mostrar-menu {
      font-size: 2em;
      display: inline-block;
      cursor: pointer;
      background-color: none;
      width: auto;
      color: white;
      height: auto;
      width: 30px;
      grid-area: col1;
      padding-left: 5px;
      border-radius: 0.5em;
      margin-left: 10px; }
    .encabezado .encabezado_menu #check {
      display: none; }
      .encabezado .encabezado_menu #check:checked ~ .menu {
        display: flex;
        flex-direction: row;
        text-align: center;
        grid-area: row2;
        justify-content: space-around;
        align-items: center;
        font-family: "Nunito"; }
        .encabezado .encabezado_menu #check:checked ~ .menu .encabezado_menu_botones {
          margin: 2%; }
        .encabezado .encabezado_menu #check:checked ~ .menu a {
          font-size: 90%; }
    .encabezado .encabezado_menu #indexMenu {
      display: flex;
      font-family: "Great Vibes";
      text-align: center;
      grid-area: col2;
      justify-content: center;
      margin-top: 1vh;
      margin-bottom: 1vh;
      padding-right: 10vw; }
      .encabezado .encabezado_menu #indexMenu a {
        text-decoration: none;
        animation-duration: 40s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: transicionPaleta__secundaria;
        font-size: 2em; }
  @keyframes transicionPaleta__secundaria {
    0% {
      color: #c98703; }
    30% {
      color: #eb951f; }
    60% {
      color: white; }
    80% {
      color: #671313; }
    100% {
      color: #c98703; } }
    .encabezado .encabezado_menu .menu {
      display: none; }
      .encabezado .encabezado_menu .menu .encabezado_menu_botones {
        padding: 10px; }
  #mainIndex #fotoprincipal {
    display: none; }
  #mainIndex #fotoprincipal_mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  fieldset {
    display: flex;
    flex-direction: column; }
  .formulario_div {
    width: 80vw; }
  #sobremiTxt {
    font-size: 1em; } }

@media screen and (max-width: 480px) {
  #check:checked ~ .menu .encabezado_menu_botones {
    padding: 5px; }
  #check:checked ~ .menu a {
    font-size: 80%; }
  #sobremiTxt {
    font-size: 1em; }
  footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; }
    footer .rrss {
      width: 70vw; }
    footer .firma {
      width: 75vw;
      align-self: center;
      margin: 4%; }
  .photoGallery {
    display: flex;
    flex-direction: column; }
  .cajita .cajita__titulo, .presupuesto .cajita__titulo, .fondo__contacto .cajita__titulo {
    font-size: 0.9em; }
  .cajita .cajita__contenido, .presupuesto .cajita__contenido, .fondo__contacto .cajita__contenido, .cajita p, .presupuesto p, .fondo__contacto p {
    font-size: 0.9em; }
  .presupuesto {
    font-size: 0.9em; } }

@media screen and (max-width: 375px) {
  .encabezado .encabezado_menu #check:checked ~ .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    .encabezado .encabezado_menu #check:checked ~ .menu .encabezado_menu_botones {
      padding: 5px; }
    .encabezado .encabezado_menu #check:checked ~ .menu a {
      font-size: 80%; }
  .encabezado_index {
    width: 80vw;
    justify-content: center; }
  #sobremiTxt {
    font-size: 1em; }
  .formulario_div {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90vw;
    align-content: space-around;
    padding: 5%; }
  .formulario_subdiv {
    padding: 3%;
    width: 50vw;
    justify-content: space-between; } }

.pruebas, .button1, .button2, .button3, .button4 {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .pruebas .pruebasTitulo, .button1 .pruebasTitulo, .button2 .pruebasTitulo, .button3 .pruebasTitulo, .button4 .pruebasTitulo {
    display: block;
    text-align: center;
    font-family: "Poppins"; }

.button1 {
  width: 10vw;
  height: 5vh;
  text-align: center;
  background-color: gold;
  color: black; }

.button2 {
  width: 20vw;
  height: 10vh;
  text-align: center;
  background-color: gold;
  color: black; }

.button3 {
  width: 30vw;
  height: 15vh;
  text-align: center;
  background-color: gold;
  color: black; }

.button4 {
  width: 40vw;
  height: 20vh;
  text-align: center;
  background-color: gold;
  color: black; }

.boda1 {
  background-image: url(../../img/eventos/Bodas1.jpg);
  width: 100vw;
  height: 60vh;
  background-size: 100% auto; }

.boda2 {
  background-image: url(../../img/eventos/Bodas2.jpg);
  width: 100vw;
  height: 60vh;
  background-size: 100% auto; }

.boda3 {
  background-image: url(../../img/eventos/Bodas3.jpg);
  width: 100vw;
  height: 60vh;
  background-size: 100% auto; }

.boda4 {
  background-image: url(../../img/eventos/Bodas4.jpg);
  width: 100vw;
  height: 60vh;
  background-size: 100% auto; }

.cajafondo1 {
  background-color: green;
  width: 100px;
  height: 100px; }

.cajafondo2 {
  background-color: violet;
  width: 100px;
  height: 100px; }

.cajafondo3 {
  background-color: gold;
  width: 100px;
  height: 100px; }

.caja4 {
  background-color: green;
  color: violet;
  width: 100px;
  height: 100px; }
