@import "./partials/variables";
@import "./partials/mixin";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/general";
@import "./partials/mainindex";
@import "./partials/footer";
@import "./partials/contacto";
@import "./partials/queries";
@import "partials/pruebas";