.fondo__contacto {
    @extend .cajita;



    #formulario {
        width: 100%;




        fieldset {
            border: none;
            padding: 1%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $font2;

            .form_botones {
                display: flex;
                width: 40%;
                justify-content: space-around;
                @extend %margenY;
            }


            .form_row {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                width: 90%;
                @extend %margenY;

                .form_txt {
                    padding: 1%;
                    font-size: 1.5em;

                }

                .form_input {
                    padding: 1%;
                    transform: scale(1.5);

                    input {
                        font-family: 'nunito';
                        transition: all 0.5s;

                        &:focus {
                            transform: scale(1.5);
                            font-family: $font2;
                            color: map-get($paleta ,verde);

                        }
                    }


                }

            }




        }
    }
}