footer {
    grid-area: footer;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    padding: 5%;
    @include animacion1;
    .firma {
        height: auto;
        width: 40vw;
    }
    .rrss {
        width: 40vw;
        display: flex;
        justify-content: space-around;
        transition: all 1s;
        
        .logoFooter {
            height: auto;
            width: 5vw;
        }
        #insta {

            animation-name: insta;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            @keyframes insta {
                0% {
                    transform: rotate(0deg);
                }
            
                33% {
                    transform: rotate(10deg);
                }
            
                50% {
                    transform: rotate(0deg);
                }
            
                83% {
                    transform: rotate(-10deg);
                }
            
                100% {
                    transform: rotate(0deg);
                }
            }
        
        }
        #face {

            animation-name: face;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            @keyframes face {
                0% {
                    transform: rotate(0deg);
                }
            
                33% {
                    transform: rotate(10deg);
                }
            
                50% {
                    transform: rotate(0deg);
                }
            
                83% {
                    transform: rotate(-10deg);
                }
            
                100% {
                    transform: rotate(0deg);
                }
            }
            
        }
    }
}