footer {
    grid-area: footer;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    padding: 5%;
    @include animacion1(40s,linear);
    .firma {
        height: auto;
        width: 40%;
    }
    .rrss {
        width: 40vw;
        display: flex;
        justify-content: space-around;
        transition: all 1s;
        
        .logoFooter {
            height: auto;
            width: 10vw;
            @extend %boton1;
            border: none;
        }
        
    }
}