body {
    overflow-x: hidden;
    width: 100vw;
    display: grid;
    grid-template-areas: "encabezado"
        "main"
        "footer";
    justify-content: center; 
    background-image: url(../../img/misc/textura1.jpg); 
      
        .main__secciones {
            width: 100vw;
            overflow-x: hidden;
        }
        main {
            grid-area: main;
        }
}
.encabezado_menu_botones {
    @extend %boton1;
    @extend %sombra1;
    @include animacion2__bordes;
}
h1 {
    font-size: 2em;
}
h2 {
    text-align: center;
    font-family: $font1;
    font-weight: 100;
    font-size: 2.5em;
    @include animacion2(40s,linear);
}
h3 {
    font-family: 'nunito';
    text-align: center;
    font-size: 1.3em;
    @include fadein(2s);
}
h6 {
    display: none;
    visibility: hidden;
}
.cajita {
    background-color:rgba(179, 179, 179, 0.405) ; 
    padding: 3%;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: justify;
    font-size: 1.2em;
   
    
    .cajita__titulo {
        font-family: $font2;
        font-weight: 600;
        font-size: 1.3em;
        text-align: center;
        
        @include fadein (1s);
    }
    .cajita__contenido {
        font-family: $font2;
        font-weight: 400;font-size: 1em;
        text-align: justify;
        padding-block: 1em;
        @include fadein (1s);
        animation-timing-function: linear;
    }
}
p {
    @extend .cajita__contenido;
}
.foto {
    border: solid 10px white;
    @extend %sombra1;

}
.photoGallery {
    display: grid;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2%;
    align-items: stretch;
    padding:1%
}

.fotoGaleria {
    width: 100%;
    height: 100%;
}

