body {
    overflow-x: hidden;
    width: 100vw;
    display: grid;
    grid-template-areas: "encabezado"
        "main"
        "footer"
        "autobombo";
    justify-content: center; 
    align-items: center;
    @extend %textura1; 
      
        .main__secciones {
            width: 100vw;
            overflow-x: hidden;
        }
        main {
            grid-area: main;
           
        }
}
.encabezado_menu_botones {
    @extend %boton1;
    @extend %sombra1;
    @include animacion2__bordes;
}
h1 {
    font-size: 2.8em;
}
h2 {
    text-align: center;
    font-family: $font1;
    font-weight: 100;
    font-size: 2.5em;
    @include animacion2(40s,linear);
}
h3 {
    font-family: 'nunito';
    text-align: center;
    font-size: 1.3em;
    @include fadein(2s);
}
h4 {
    font-family: $font2;
    @extend %margenY;
    font-size: 1.2em;
}
h6 {
    display: none;
    visibility: hidden;
}
section {
    margin-top: 4vh;
}
.cajita {
    background-color:rgba(179, 179, 179, 0.405) ; 
    padding: 3%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
   
    
    .cajita__titulo {
        font-family: $font2;
        font-weight: 600;
        font-size: 1.3em;
        text-align: center;
        border-radius: 5px;
        @extend %sombra1;
        width: 30vw;
       
        padding: 5px;
        color: white;
        @include animacion1 (40s,linear) 

       
    }
    .cajita__contenido {
        font-family: $font2;
        font-weight: 400;
   
        text-align: justify;
        padding: 5%;
        @include fadein (1s);
        animation-timing-function: linear;
    }
}
p {
    @extend .cajita__contenido;
}
.foto {
    
    
    background-color: rgba(248, 219, 248, 0.708);
    justify-content:center;
    height: auto;
    padding: 2%;
    border-radius: 2%;
    @extend %sombra1;

}
.photoGallery {
    display: grid;
    width: 100%;
    margin-top: $margenY*2;
    margin-bottom: $margenY*2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2%;
    align-items: stretch;
    padding:1%
}

.fotoGaleria {
    width: 100%;
    height: 100%;
}
.margen {
    height: $margenY*2.5;
}
.presupuesto {
   @extend .cajita;
   text-align: center;

   
   .presupuesto_sub {
    padding: 1%;
    font-family: $font2;
    text-align: center;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ul {
        text-align: left;
        @extend %margenY;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li{
            text-align: center
        }

    }
    .txt {
        @extend %margenY;
        font-family: $font2;
    }
   }
   
}
.separador {
    width: 100%;
    height: 5px;
    border-radius: 5px;

    margin: $margenY;
    @include animacion1(40s,linear);

}
.autobombo {
    height: auto;
    width: 100vw;
    padding: 0.5em;
    text-align: center;
    font-family: $font2;
    color: white;
    @include animacion1 (20s, linear);
    font-size: 1em;
    display: inline-flex;
    justify-content: center;
    grid-area: autobombo;
}

