.encabezado {
    grid-area: encabezado;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: $verde;
    
    @include animacion1;
    
   

    .encabezado_index {
        width: 40vw;
        padding: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        a{
            text-decoration: none;
            font-family: $font1;
            color: white;
            font-size: 1.3em;
            transition: all 1s;
            @include animacion2;

            &:hover {
             
                scale: 1.05;
            }
        }
        .logo {
            height: auto;
            width: 7vw;
            padding: 3%;
            transition: all 1s;
        
        }
        
    }

}
.encabezado_menu {
    width: 50%;
    .menu {
        list-style: none;
        display: flex;
        justify-content: space-around;

        a{
            text-decoration: none;
            
            color: white;
            font-family: $font2;
            text-transform: uppercase;
            font-size: 1.3em;
            transition: all 1s;
            @include animacion2;
            
           
        }
        .encabezado_menu_botones {
            &:hover {
            
                scale: 1.05;
               
            }
        }
    }
    label,#check, #indexMenu  {
        display: none
    }

    
}
