.encabezado {
    grid-area: encabezado;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;


    @include animacion1 (40s, linear);



    .encabezado_index {
        width: 40vw;
        padding: 1vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
            font-family: $font1;
            color: white;
            font-size: 1.3em;
            transition: all 0.5s;
            @include animacion2 (40s, linear);

            &:hover {

                scale: 1.05;
            }
        }

        .logo {
            height: auto;
            width: 7vw;
            padding: 3%;
            transition: all 0.5s;

        }

    }

}

.encabezado_menu {
    width: 50%;

    .menu {

        display: flex;
        justify-content: space-around;

        .encabezado_menu_botones {
            
            a {

                @include animacion2(40s,linear);


            }

        }


    }
}

label,
#check,
#indexMenu {
    display: none
}


