#mainIndex {
    
    display: flex;
    flex-direction: column;
    
    #fotoprincipal {
        width: 100vw;
        height: auto;
    }
    #fotoprincipal_mobile {
        display: none;
    }
    .subtitulo {
        
        @include animacion1;
        padding: 5%;
       
        #sobremiTitle {
            margin: 3%;
            font-size: 2em;
            @include animacion2;
        }

    }
   
    
    .cajita {
        
        padding: 5%;
        text-align: justify;
        font-size: 1.2em;
        background-image: url(../../img/misc/textura1.jpg);
        .cajita__titulo {
            font-family: $font2;
            font-weight: 600;
            font-size: 1.3em;
            text-align: center;
        }
        .cajita__contenido {
            font-family: $font3;
            font-weight: 400;
        }
    }
    
}
