@mixin animacion1 ($duracion,$funcion) {
    animation-duration: $duracion;
    animation-iteration-count: infinite;
    animation-timing-function: $funcion;
    @include transicionPaleta__principal;
 
}

@mixin transicionPaleta__principal {
    animation-name: transicionPaleta__principal;
    @keyframes transicionPaleta__principal {
        0% {
            background-color: $verde;
        }
        30% {
            background-color: $bordeaux;
        }
        60% {
            background-color: $violeta;
        }
        90% {
            background-color: $dorado;
        }
        100% {
            background-color: $verde;
        }
    }
 }

@mixin animacion2 ($duracion,$funcion) {
    animation-duration: $duracion;
    animation-iteration-count: infinite;
    animation-timing-function: $funcion;
    @include transicionPaleta_secundaria;
    
   
}
@mixin transicionPaleta_secundaria {
    animation-name: transicionPaleta__secundaria;
    @keyframes transicionPaleta__secundaria {
        0% {
            color: $dorado;
        }
        30% {
            color:#eb951f;
        }
        60% {
            color: white;
        }
        80% {
            color: $bordeaux;
        }
        100% {
            color: $dorado;
        }
    }
}
@mixin animacion2__bordes {
    animation-name:transicionPaleta__secundaria__bordes;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    @keyframes transicionPaleta__secundaria__bordes {
        0% {
            border-color: $dorado;
        }
        30% {
            border-color:#eb951f;
        }
        60% {
            border-color: white;
        }
        80% {
            border-color: $bordeaux;
        }
        100% {
            border-color: $dorado;
        }
        }

}
@mixin fadein ($duracion){
animation-name: fadein;
animation-iteration-count: initial;
animation-duration: $duracion;
animation-timing-function:ease-in;
}
@keyframes fadein {
0% {
    opacity: 0%;
}

100% {
    opacity: 100%;
}
}
