@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:ital,wght@0,300;0,400;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:wght@300;400&family=Poppins:wght@300;400;600;800&display=swap');

$font1: 'Great Vibes';
$font2: 'Nunito';
$font3: 'Poppins';
$dorado: #c98703;
$verde:  #43652a;
$bordeaux: #671313;
$violeta: #462037;
$sombra1: #1616167f;