@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:ital,wght@0,300;0,400;1,200&display=swap');

$font1: 'Great Vibes';
$font2: 'Nunito';
$dorado: #c98703;
$verde:  #43652a;